.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: [Figtree], sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  max-width: 350px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
  padding: 20px;
  justify-content: center;
  align-items: center;
}
#main img {
  width: 100%;
  border-radius: 15px;
}
button {
  background-color: hsl(47, 88%, 63%);
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  padding: 8px 10px;
}
button:hover {
  background-color: hsl(47, 88%, 53%);
  cursor: pointer;
}
